:host {
    --font-size: inherit;
    --error-color-saturation: 100%;

    align-self: stretch;
    width: 100%;
}

.message.darkmode {
    --error-color-saturation: 50%;
}

.message {
    color: hsl(0, var(--error-color-saturation), 50%);
    font-size: calc(var(--font-size) * .95);
}