nav ul {
    display: flex;
    gap: 1em;

    width: 30%;
    margin-inline-end: auto;
    padding: 1em;
}

.notification {
    width: 30%;
    margin-inline-start: auto;
    padding: 1em;
}

.error {
    color: red;
}

.success {
    color: green;
}