<nav>
    <ul>

        <li>
            <a routerLink="/themes">Browse</a>
        </li>

        <ng-container *ngIf="isLoggedIn$ | async">
            <li>
                <a routerLink="/users/profile">{{(currentUser$ | async)?.username ?? 'N/A'}}'s profile</a>
            </li>

            <li>
                <a href="/users/logout" (click)="logoutHandler($event)">Logout</a>
            </li>
        </ng-container>

        <ng-container *ngIf="!(isLoggedIn$ | async)">
            <li>
                <a routerLink="/users/login">Login/Register</a>
            </li>
        </ng-container>

    </ul>
</nav>