:host {
    --font-family: inherit;
    --lightness: 46%;

    --sidebar-width: 30%;
    --sidebar-padding: 2rem;
    --sidebar-text-color-lightness: 100%;
    --sidebar-text-size: 1.15rem;
    --sidebar-line-height: 1.5;

    --form-width: 30%;
    --form-padding: 2rem;
    --form-background-color: transparent;
    --form-shadow-color: rgba(0, 0, 0, .15);

    width: 90%;
    margin-block: 1rem;
    margin-inline: auto;

    font-family: var(--font-family);

    display: flex;
    justify-content: center;
}

.sidebar.register {
    --gradient-color-primary: #3aaf9f;
    --gradient-color-secondary: #34756d;
    --gradient-angle: -45deg;
}

.sidebar.login {
    --gradient-color-primary: #b03b83;
    --gradient-color-secondary: #753455;
    --gradient-angle: 45deg;
}

.sidebar.darkmode {
    --sidebar-text-color-lightness: 90%;
}

.sidebar {
    --sidebar-body-width: 70%;

    --sidebar-button-padding-block: .5rem;
    --sidebar-button-padding-inline: 1rem;
    --sidebar-button-width: 50%;

    width: var(--sidebar-width);
    padding: var(--sidebar-padding);
    background: linear-gradient(var(--gradient-angle), var(--gradient-color-primary), var(--gradient-color-secondary) 50%);
    color: hsl(0, 0%, var(--sidebar-text-color-lightness));
    font-size: var(--sidebar-text-size);
    line-height: var(--sidebar-line-height);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sidebar__body {
    width: var(--sidebar-body-width);
}

.sidebar__button {
    width: var(--sidebar-button-width);
    padding-block: var(--sidebar-button-padding-block);
    padding-inline: var(--sidebar-button-padding-inline);

    border: .1rem solid hsl(0, 0%, var(--sidebar-text-color-lightness));

    background-color: transparent;
    color: hsl(0, 0%, var(--sidebar-text-color-lightness));
    font-size: calc(var(--sidebar-text-size) * .75em);
    text-transform: uppercase;
    letter-spacing: .1rem;

    cursor: pointer;
}

.sidebar__button:hover {
    /* Override <a> hover state text decoration property value */
    text-decoration: none;
}

.form.darkmode {
    --lightness: 33%;
    --form-background-color: #333;
    --form-shadow-color: transparent;

    --form-button-text-color-lightness: 90%;
}

.form.register {
    --form-title-color: hsl(172, 50%, var(--lightness));
    --form-button-background-color: hsl(172, 50%, var(--lightness));
    --form-shadow-offset-x: 5px;
}

.form.login {
    --form-title-color: hsl(323, 50%, var(--lightness));
    --form-button-background-color: hsl(323, 50%, var(--lightness));
    --form-shadow-offset-x: -5px;
}

.form {
    --form-header-width: 80%;
    --form-header-padding-block: .5rem;
    --form-header-padding-inline: 1rem;
    --form-header-text-align: left;

    --form-title-size: clamp(2rem, 2vw, 4rem);
    --form-title-weight: 700;

    --form-row-text-size: 1.15rem;
    --form-row-width: 80%;
    --form-row-padding-block: .5rem;
    --form-row-padding-inline: 1rem;

    --form-button-text-size: calc(var(--form-row-text-size) * .85);
    --form-button-text-color-lightness: 100%;
    --form-button-padding-block: .5rem;
    --form-button-padding-inline: 1rem;
    --form-button-width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    width: var(--form-width);
    padding: var(--form-padding);
    background-color: var(--form-background-color);
    color: var(--form-text-color);
    box-shadow: var(--form-shadow-offset-x) 5px 15px var(--form-shadow-color);
}

.form__header {
    width: var(--form-header-width);
    padding-block: var(--form-header-padding-block);
    padding-inline: var(--form-header-padding-inline);
    text-align: var(--form-header-text-align);
}

.form__title {
    color: var(--form-title-color);
    font-size: var(--form-title-size);
    font-weight: var(--form-title-weight);
}

.darkmode .form__row {
    --form-label-lightness: 46%;
    --form-input-placeholder-opacity: .13;
}

.form__row {
    --input-padding-block: .5rem;
    --input-padding-inline: 1rem;
    --input-background-color: transparent;

    --form-label-lightness: 0%;
    --form-label-color: hsla(0, 0%, var(--form-label-lightness));
    --form-label-size: calc(var(--form-row-text-size) * .85);

    --form-input-placeholder-opacity: .53;
    --form-input-text-size: inherit;

    width: var(--form-row-width);
    padding-block: var(--form-row-padding-block);
    padding-inline: var(--form-row-padding-inline);

    font-size: var(--form-row-text-size);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form__row:first-of-type {
    margin-block-start: calc(var(--form-row-padding-block) * 1);
}

.form__row:last-of-type {
    margin-block-end: calc(var(--form-row-padding-block) * 3);
}

.form__label {
    width: 20%;
    font-size: var(--form-label-size);
    color: var(--form-label-color);
}

.form__row input {
    width: 80%;
    padding-inline: var(--input-padding-inline);
    padding-block: var(--input-padding-block);
    border: none;

    background-color: var(--input-background-color);
}

.form__row input:focus {
    outline: none;
}

.form__row input,
.form__row input::placeholder {
    font-family: inherit;
    font-weight: inherit;
    color: currentColor;

    font-size: var(--form-input-text-size);
}

.form__row input::placeholder {
    opacity: var(--form-input-placeholder-opacity);
}

.form__button {
    --form-button-icon-size: calc(var(--form-button-text-size) * .85);

    align-self: flex-end;

    width: var(--form-button-width);
    padding-block: var(--form-button-padding-block);
    padding-inline: var(--form-button-padding-inline);
    border: .1rem solid var(--form-button-background-color);

    background-color: var(--form-button-background-color);
    color: hsl(0, 0%, var(--form-button-text-color-lightness));
    font-size: var(--form-button-text-size);
    text-transform: uppercase;
    letter-spacing: .1rem;

    cursor: pointer;
}

.form__button i {
    font-size: var(--form-button-icon-size);
}