<ng-container *ngIf="pageMode === 'login'" [ngTemplateOutlet]="loginForm"></ng-container>
<ng-container *ngIf="pageMode === 'register'" [ngTemplateOutlet]="registerForm"></ng-container>


<ng-template #registerForm>

    <section class="sidebar">
        <h2 class="sidebar__title">Welcome back!</h2>
        <p class="sidebar__body">
            If you already have an account, proceed with logging in.
        </p>
        <a routerLink="/users/login" class="sidebar__button">Sign In</a>
    </section>

    <form class="form register">

        <section class="form__header">
            <h3 class="form__title">Create account</h3>
        </section>

        <div class="form__row">
            <label for="username">
                <span>
                    <i class="fa-solid fa-user"></i>
                </span>
            </label>
            <input type="text" name="username" id="username" placeholder="Name">
        </div>

        <div class="form__row">
            <label for="email">
                <span>
                    <i class="fa-solid fa-envelope"></i>
                </span>
            </label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>

        <div class="form__row">
            <label for="password">
                <span>
                    <i class="fa-solid fa-lock"></i>
                </span>
            </label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>

        <div class="form__row">
            <label for="repeatPassword">
                <span>
                    <i class="fa-solid fa-lock"></i>
                </span>
            </label>
            <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat password">
        </div>

        <button type="submit" class="form__button">Sign Up</button>

    </form>

</ng-template>

<ng-template #loginForm>

    <form class="form login">

    </form>

    <section>

    </section>

</ng-template>