<ng-container *ngIf="pageMode === 'login'" [ngTemplateOutlet]="loginForm"></ng-container>
<ng-container *ngIf="pageMode === 'register'" [ngTemplateOutlet]="registerForm"></ng-container>


<ng-template #registerForm>

    <section class="sidebar register">
        <p class="sidebar__body">
            If you are already registered, proceed with logging in to your account.
        </p>
        <a routerLink="/users/login" class="sidebar__button">Sign In</a>
    </section>

    <form class="form register" [class.darkmode]="isDarkModeOn$ | async">

        <section class="form__header">
            <h3 class="form__title">Create account</h3>
        </section>

        <div class="form__row">
            <label for="username">
                <span class="form__label">
                    <i class="fa-solid fa-user"></i>
                </span>
            </label>
            <input type="text" name="username" id="username" placeholder="Name">
        </div>

        <div class="form__row">
            <label for="email">
                <span class="form__label">
                    <i class="fa-solid fa-envelope"></i>
                </span>
            </label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>

        <div class="form__row">
            <label for="password">
                <span class="form__label">
                    <i class="fa-solid fa-lock"></i>
                </span>
            </label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>

        <div class="form__row">
            <label for="repeatPassword">
                <span class="form__label">
                    <i class="fa-solid fa-lock"></i>
                </span>
            </label>
            <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat password">
        </div>

        <button type="submit" class="form__button">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Sign Up
        </button>

    </form>

</ng-template>

<ng-template #loginForm>

    <form class="form login" [class.darkmode]="isDarkModeOn$ | async">

        <section class="form__header">
            <h3 class="form__title">Login</h3>
        </section>

        <div class="form__row">
            <label for="email">
                <span class="form__label">
                    <i class="fa-solid fa-envelope"></i>
                </span>
            </label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>

        <div class="form__row">
            <label for="password">
                <span class="form__label">
                    <i class="fa-solid fa-lock"></i>
                </span>
            </label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>

        <button type="submit" class="form__button">
            <i class="fa-solid fa-user"></i>
            Sign In
        </button>

    </form>

    <section class="sidebar login">
        <p class="sidebar__body">
            If you are new here, create an account and join our community.
        </p>
        <a routerLink="/users/register" class="sidebar__button">Sign Up</a>
    </section>

</ng-template>