<ng-template *ngIf="visible" #control let-darkModeOn [ngTemplateOutlet]="control"
    [ngTemplateOutletContext]="{ $implicit: isDarkModeOn$ | async }">
    <label>
        <ng-template *ngIf="visible" #preference let-preferenceOn [ngTemplateOutlet]="preference"
            [ngTemplateOutletContext]="{ $implicit: isSystemPreferenceOn$ | async}">
            <input type="checkbox" class="checkbox" [checked]="preferenceOn"
                (change)="toggleThemePreference(!preferenceOn)">
            <i class="fa-solid fa-display"></i>
        </ng-template>
    </label>
    <label title="Toggle color mode">
        <input type="checkbox" class="checkbox" [checked]="darkModeOn" (change)="toggleThemeMode(!darkModeOn)">
        <i class="fa-solid fa-circle-half-stroke"></i>
    </label>
</ng-template>