:host {
    --font-size: .95em;
    --font-weight: 400;

    --base-unit: 14px;
}

#control {
    display: none;
}

label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em;

    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.switch {
    --width: calc(4 * var(--base-unit));
    --block-padding: calc(.225 * var(--base-unit));;
    --inline-padding: calc(.125 * var(--base-unit));

    color: var(--color, inherit);
    background-color: transparent;
    font-size: calc(var(--base-unit) * 1.3);

    border-width: .1em;
    border-style: solid;
    border-color: var(--color);

    border-radius: 40% / 60%;
    
    width: var(--width);
    padding-block: var(--block-padding);
    padding-inline: var(--inline-padding);

    transition: all .2s linear;
}

.switch__thumb {
    --path: 0;
    --rotation: 0;
    backface-visibility: visible;
    transform: translateX(var(--path)) rotateY(var(--rotation));
    transition: transform .2s linear;
}

#control:checked + .switch .switch__thumb {
    --path: calc((var(--width) / 2) + var(--inline-padding));
    --rotation: 180deg;
}