:host {
    --font-size: .95em;
    --color: currentColor;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em;

    font-size: var(--font-size);
    color: var(--color);
}

label {
    padding-block: .5em;
    padding-inline: .5em;

    font-size: calc(var(--font-size) * 1.2);
}

.checkbox {
    display: none;
}

.checkbox + i {
    cursor: pointer;
}

.checkbox + i.fa-display {
    --opacity: .5;
    opacity: var(--opacity);
}

.checkbox:checked + i.fa-display {
    --opacity: 1;
}