:host {
    --font-size: inherit;

    --dropdown-padding-block: .5rem;
    --dropdown-padding-inline: .5rem;
    --dropdown-background-color: hsl(200, 16%, 89%);
    --dropdown-text-color: currentColor;
    --dropdown-border-width: .05rem;
    --dropdown-border-color: hsl(0, 0%, 30%);

    --dropdown-scrollbar-width: .4rem;
    --dropdown-scrollbar-thumb-radius: 85% / 15%;
    --dropdown-scrollbar-background: transparent;
    --dropdown-scrollbar-foreground: transparent;
}

.darkmode {
    --dropdown-background-color: hsl(0, 0%, 20%);
    --dropdown-border-color: hsl(0, 0%, 39%);
}

.dropdown {
    --dropdown-field-background-color: transparent;
    --dropdown-field-font-size: var(--font-size);
    --dropdown-field-text-color: var(--dropdown-text-color);

    --dropdown-arrow-top-offset: calc(var(--dropdown-padding-block) * 2);
    --dropdown-arrow-right-offset: var(--dropdown-padding-inline);
    --dropdown-arrow-font-size: calc(var(--font-size) * .8);
    --dropdown-arrow-font-family: 'FontAwesome';
    --dropdown-arrow-opacity: 1;

    --dropdown-options-display: none;
    --dropdown-options-top-offset: calc(100% + (2 * var(--dropdown-border-width)));
    --dropdown-options-left-offset: calc(var(--dropdown-border-width) * -1);
    --dropdown-options-width: calc(100% + (2 * var(--dropdown-border-width)));
    --dropdown-options-max-height: 10vh;
    --dropdown-options-overflow: overlay;
    --dropdown-options-background-color: var(--dropdown-background-color);
    --dropdown-options-text-color: var(--dropdown-text-color);
    --dropdown-options-border-style: solid;
    --dropdown-options-border-width: var(--dropdown-border-width);
    --dropdown-options-border-color: var(--dropdown-border-color);

    position: relative;

    font-size: var(--font-size);
    background-color: var(--dropdown-background-color);
    color: var(--dropdown-text-color);
    padding-block: var(--dropdown-padding-block);
    padding-inline: var(--dropdown-padding-inline);
    border-style: solid;
    border-width: var(--dropdown-border-width);
    border-color: var(--dropdown-border-color);
    cursor: pointer;

    box-shadow: 0 .1rem .175rem rgba(0, 0, 0, .5);
}

.dropdown__field {
    width: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: var(--dropdown-field-font-size);
    color: var(--dropdown-field-text-color);
    background-color: var(--dropdown-field-background-color);
}

.dropdown__field::after {
    content: '\f078';
    font-family: var(--dropdown-arrow-font-family);
    font-size: var(--dropdown-arrow-font-size);
    opacity: var(--dropdown-arrow-opacity);

    transition: opacity .1s linear, 
        transform .1s linear;
}

.dropdown.opened .dropdown__field::after {
    --dropdown-arrow-opacity: .5;
    transform: rotateZ(-180deg);
}

.dropdown__options {
    --dropdown-option-padding-block: var(--dropdown-padding-block);
    --dropdown-option-padding-inline: var(--dropdown-padding-inline);
    --dropdown-option-border-style: var(--dropdown-options-border-style);
    --dropdown-option-border-width: var(--dropdown-options-border-width);
    --dropdown-option-border-color: var(--dropdown-options-border-color);
    
    display: var(--dropdown-options-display);
    overflow-y: var(--dropdown-options-overflow);

    position: absolute;
    top: var(--dropdown-options-top-offset);
    left: var(--dropdown-options-left-offset);

    width: var(--dropdown-options-width);
    max-height: var(--dropdown-options-max-height);
    background-color: var(--dropdown-options-background-color);
    color: var(--dropdown-options-text-color);

    /* Standard scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: var(--dropdown-scrollbar-foreground) var(--dropdown-scrollbar-background);
    scrollbar-gutter: stable both-edges;
    scroll-behavior: smooth;

    box-shadow: 0 .1rem .175rem rgba(0, 0, 0, .5);
}

/* Webkite scrollbar styles */

.dropdown__options:hover {
    --dropdown-scrollbar-foreground: #555a;
}

.dropdown__options::-webkit-scrollbar {
    width: var(--dropdown-scrollbar-width);
}

.dropdown__options::-webkit-scrollbar-track {
    background-color: var(--dropdown-scrollbar-background);
}

.dropdown__options::-webkit-scrollbar-thumb {
    background-color: var(--dropdown-scrollbar-foreground);
    border-radius: var(--dropdown-scrollbar-thumb-radius);
}

.dropdown.opened .dropdown__options {
    --dropdown-options-display: block;
}

.dropdown__option {
    --dropdown-option-marker-content: '\f00c';
    --dropdown-option-marker-font-size: calc(var(--font-size) * .8);
    --dropdown-option-marker-font-family: 'FontAwesome';
    --dropdown-option-marker-opacity: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: var(--dropdown-option-padding-block);
    padding-inline: var(--dropdown-option-padding-inline);
    border-style: var(--dropdown-option-border-style);
    border-width: var(--dropdown-option-border-width);
    border-color: var(--dropdown-option-border-color);
}

.dropdown__option:nth-child(n) {
    border-top: none;
}

.dropdown__option::after {
    content: var(--dropdown-option-marker-content);
    font-family: var(--dropdown-option-marker-font-family);
    font-size: var(--dropdown-option-marker-font-size);
    opacity: var(--dropdown-option-marker-opacity);
    transition: all .2s ease-out;
}

.dropdown__option:hover {
    --dropdown-option-marker-opacity: .5;
}

.dropdown__option.selected::after {
    --dropdown-option-marker-opacity: 1;
}