:host {
    --font-size: 1.05rem;
    --font-weight: 300;
    --color: inherit;

    --select-padding-block: .25rem;
    --select-padding-inline: .5rem;
    --select-background-color: transparent;
    --select-border-width: .05rem;
    --select-border-color: var(--color);

    --option-background-color: #f5f5f5;
    --option-font-size: 1rem;
    --option-color: var(--color);
}

label {
    display: flex;
    align-items: center;
}

select {
    font-size: var(--font-size);

    font-weight: var(--font-weight);
    background-color: var(--select-background-color);
    color: var(--color);
    padding-block: var(--select-padding-block);
    padding-inline: var(--select-padding-inline);
    border-style: solid;
    border-width: var(--select-border-width);
    border-color: var(--select-border-color);
    cursor: pointer;
}

select:focus {
    outline: none;
}

select option {
    border: none;
    font-size: var(--option-font-size);
    background-color: var(--option-background-color);
    color: var(--option-color);
}

select.theme--dark {
    --border-color: #f5f5f5;
}

select.theme--dark option {
    --option-background-color: #222;
}