:host {
    --font-size: inherit;

    --dropdown-padding-block: .25rem;
    --dropdown-padding-inline: .5rem;
    --dropdown-background-color: hsl(200, 16%, 89%);
    --dropdown-background-color-hover: hsl(200, 16%, 85%);
    --dropdown-background-color-selected: hsl(200, 16%, 83%);
    --dropdown-text-color: currentColor;
    --dropdown-border-width: .05rem;
    --dropdown-border-color: #222;
}

.darkmode {
    --dropdown-background-color: #222;
    --dropdown-text-color: #dee4e7;
    --dropdown-border-color: #dee4e7;
}

.dropdown {
    --dropdown-input-background-color: transparent;
    --dropdown-input-padding-block: var(--dropdown-padding-block);
    --dropdown-input-padding-inline: var(--dropdown-padding-inline);
    --dropdown-input-font-size: var(--font-size);
    --dropdown-input-text-color: var(--dropdown-text-color);

    --dropdown-arrow-top-offset: calc(var(--dropdown-padding-block) * 2);
    --dropdown-arrow-right-offset: var(--dropdown-padding-inline);
    --dropdown-arrow-font-size: calc(var(--font-size) * .8);
    --dropdown-arrow-font-family: 'FontAwesome';
    --dropdown-arrow-opacity: 1;

    --dropdown-options-visibility: hidden;
    --dropdown-options-top-offset: calc(100% + var(--dropdown-border-width));
    --dropdown-options-left-offset: calc(var(--dropdown-border-width) * -1);
    --dropdown-options-width: calc(100% + (2 * var(--dropdown-border-width)));
    --dropdown-options-max-height: 10vh;
    --dropdown-options-overflow: auto;
    --dropdown-options-background-color: var(--dropdown-background-color);
    --dropdown-options-text-color: var(--dropdown-text-color);
    --dropdown-options-border-style: solid;
    --dropdown-options-border-width: var(--dropdown-border-width);
    --dropdown-options-border-color: var(--dropdown-border-color);

    position: relative;
    font-size: var(--font-size);
    background-color: var(--dropdown-background-color);
    color: var(--dropdown-text-color);
    border-style: solid;
    border-width: var(--dropdown-border-width);
    border-color: var(--dropdown-border-color);
    cursor: pointer;
}

.dropdown::after {
    position: absolute;
    top: var(--dropdown-arrow-top-offset);
    right: var(--dropdown-arrow-right-offset);

    content: '\f078';
    font-family: var(--dropdown-arrow-font-family);
    font-size: var(--dropdown-arrow-font-size);
    opacity: var(--dropdown-arrow-opacity);

    transition: opacity .1s linear;
}

.dropdown.opened::after {
    --dropdown-arrow-opacity: .5;
}

.dropdown input {
    background-color: var(--dropdown-input-background-color);
    padding-block: var(--dropdown-input-padding-block);
    padding-inline: var(--dropdown-input-padding-inline);
    cursor: pointer;
}

.dropdown input,
.drodown ::placeholder {
    font-size: var(--dropdown-input-font-size);
    color: var(--dropdown-input-text-color);
}

.dropdown__options {
    --dropdown-option-padding-block: calc(var(--dropdown-padding-block) * 2);
    --dropdown-option-padding-inline: var(--dropdown-padding-inline);
    --dropdown-option-border-style: var(--dropdown-options-border-style);
    --dropdown-option-border-width: var(--dropdown-options-border-width);
    --dropdown-option-border-color: var(--dropdown-options-border-color);
    
    visibility: var(--dropdown-options-visibility);
    overflow-y: var(--dropdown-options-overflow);
    position: absolute;
    top: var(--dropdown-options-top-offset);
    left: var(--dropdown-options-left-offset);
    width: var(--dropdown-options-width);
    max-height: var(--dropdown-options-max-height);
    background-color: var(--dropdown-options-background-color);
    color: var(--dropdown-options-text-color);
    border-style: var(--dropdown-options-border-style);
    border-width: var(--dropdown-options-border-width);
    border-color: var(--dropdown-options-border-color);
}

.dropdown.opened .dropdown__options {
    --dropdown-options-visibility: visible;
}

.dropdown__option {
    padding-block: var(--dropdown-option-padding-block);
    padding-inline: var(--dropdown-option-padding-inline);
    border-bottom-style: var(--dropdown-option-border-style);
    border-bottom-width: var(--dropdown-option-border-width);
    border-bottom-color: var(--dropdown-option-border-color);

    transition: backgroung-color .2s linear;
}

.dropdown__option:last-child {
    border-bottom: none;
}

.dropdown__option:hover {
    background-color: var(--dropdown-background-color-hover);
}

.dropdown__option.selected {
    background-color: var(--dropdown-background-color-selected);
}