<header>

    <section class="user-preferences">
        <app-app-lang-switch></app-app-lang-switch>
        <app-theme-switch></app-theme-switch>
    </section>

    <nav>
        <section class="logo">
            <span>Angular Forum</span>
        </section>
        <ul>
            <li>
                <a routerLink="/themes">Browse</a>
            </li>
    
            <ng-container *ngIf="isLoggedIn$ | async">
                <li>
                    <a routerLink="/users/profile">{{(currentUser$ | async)?.username ?? 'N/A'}}'s profile</a>
                </li>
    
                <li>
                    <a href="/users/logout" (click)="logoutHandler($event)">Logout</a>
                </li>
            </ng-container>
    
            <ng-container *ngIf="!(isLoggedIn$ | async)">
                <li>
                    <a routerLink="/users/sign?mode='login'">Login</a>
                </li>
                <li>
                    <a routerLink="/users/sign?mode='register'">Register</a>
                </li>
            </ng-container>
    
        </ul>
    </nav>

    <!-- <div id="notification-generator">
        <input #text type="text">
        <select #type>
            <option value="error">Error</option>
            <option value="success">Success</option>
        </select>
        <button (click)="showNotification(text.value, type.value)">Show Notification</button>
    </div> -->
    
    <section 
        *ngIf="(notification$ | async) as notification" 
        class="notification" 
        [class.success]="notification.type === notificationTypes.Success" 
        [class.error]="notification.type === notificationTypes.Error" 
        clearNotification
        (click)="toggleNotification()"
    >
        {{notification.text}}
    </section>

</header>