:host {
    --header-padding: 2rem;

    --preference-padding-inline: 1rem;
    --preference-padding-block: 2rem;

    --nav-font-size: 1.5rem;
    --nav-logo-font-size: 2rem;
    --nav-padding: 1rem;
    --nav-border-size: .1rem;
    --nav-border-color: currentColor;
    --nav-border-style: solid;

    --header-size-X: calc(
        var(--header-padding) +
        var(--nav-border-size) +
        var(--nav-padding) + 
        var(--preference-padding-inline)
    );

    --header-size-Y: calc(
        var(--nav-logo-font-size) + 
        var(--nav-border-size) +
        var(--preference-padding-block) +
        (2 * var(--nav-padding)) +
        (2 * var(--header-padding))
    );
}

header {
    padding: var(--header-padding);
}

.user-preferences {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    padding-inline: var(--preference-padding-inline);
    padding-block-end: var(--preference-padding-block);
}

nav {
    border-bottom: var(--nav-border-size) var(--nav-border-style) var(--nav-border-color);
    padding: var(--nav-padding);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: var(--nav-logo-font-size);
    color: inherit;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    gap: calc(var(--nav-padding) * 2);
}

nav a {
    font-size: var(--nav-font-size);
    text-decoration: none;
    color: inherit;
}

.notifications {
    --notification-margin-block: 2rem;
    --notification-margin-inline: 1rem;
    --notification-padding: 1rem;
    --notification-border-width: .1rem;
    --notification-border-style: solid;
    --notification-background-opacity: .2;
    --notification-font-size: 1.2rem;

    position: fixed;
    top: calc(var(--header-size-Y) + var(--notification-margin-block));
    right: calc(var(--header-size-X) + var(--notification-margin-inline));

    display: flex;
    flex-direction: column;
    gap: var(--notification-margin-block);
}

.notification:hover {
    --notification-background-opacity: .4;
}

.notification {
    --notification-controls-padding: .5rem;

    --notification-error-color: hsl(0, 100%, 50%);
    --notification-error-background-color: rgba(255, 0, 0, var(--notification-background-opacity));

    --notification-success-color: hsl(120, 100%, 25%);
    --notification-success-background-color: rgba(0, 128, 0, var(--notification-background-opacity));

    display: flow-root;
    width: 15vw;
    padding: var(--notification-padding);
    border-width: var(--notification-border-width);
    border-style: var(--notification-border-style);
    font-size: var(--notification-font-size);
    white-space: pre-line;
    cursor: pointer;
}

.notification.error {
    border-color: var(--notification-error-color);
    background-color: var(--notification-error-background-color);
    color: var(--notification-error-color);
}

.notification.success {
    border-color: var(--notification-success-color);
    background-color: var(--notification-success-background-color);
    color: var(--notification-success-color);
}

.notification__controls {
    float: right;
    display: flex;
    gap: 1rem;

    padding: var(--notification-controls-padding);

    margin-block-start: calc(var(--notification-padding) * -1);
    margin-inline-end: calc(var(--notification-padding) * -1);

    font-size: calc(
        var(--notification-font-size) * .9
    );
}