<header>

    <section class="user-preferences">
        <app-app-lang-switch></app-app-lang-switch>
        <app-theme-switch></app-theme-switch>
    </section>

    <nav>
        <section class="logo">
            <span>Angular Forum</span>
        </section>
        <ul>
            <li>
                <a routerLink="/themes">Browse</a>
            </li>
    
            <ng-container *ngIf="isLoggedIn$ | async">
                <li>
                    <a routerLink="/users/profile">{{(currentUser$ | async)?.username ?? 'N/A'}}'s profile</a>
                </li>
    
                <li>
                    <a href="/users/logout" (click)="logoutHandler($event)">Logout</a>
                </li>
            </ng-container>
    
            <ng-container *ngIf="!(isLoggedIn$ | async)">
                <li>
                    <a routerLink="/users/login">Login</a>
                </li>
                <li>
                    <a routerLink="/users/register">Register</a>
                </li>
            </ng-container>
    
        </ul>
    </nav>

    <!-- <div id="notification-generator">
        <label for="notificaiton-text">Notification text: </label>
        <input #text type="text" id="notification-text">
        <br>
        <label for="notification-type">Notification type: </label>
        <select #type id="notification-type">
            <option value="error">Error</option>
            <option value="success">Success</option>
        </select>
        <br>
        <button (click)="showNotification(text.value, type.value)">Show Notification</button>
    </div> -->
    
    <section 
        *ngFor="let notification of (notification$ | async); let i = index" 
        class="notification" 
        [class.success]="notification.type === notificationTypes.Success" 
        [class.error]="notification.type === notificationTypes.Error" 
        [ngStyle]="{ top: calcNotificationsOffset(i) }"
        clearNotification
    >
        {{notification.text}}
        <span class="notification__controls">
            <i class="fa-solid fa-thumbtack" (click)="pin(i)"></i>
            <i class="fa-solid fa-xmark" (click)="dismiss()"></i>
        </span>
    </section>

</header>