:host {
    --header-padding: 2rem;

    --nav-font-size: 1.5rem;
    --nav-logo-font-size: 2rem;
    --nav-padding: 1rem;
    --nav-border-size: .1rem;
    --nav-border-color: currentColor;
    --nav-border-style: solid;

    --notification-font-size: 1.2rem;
    --notification-controls-offset: .5rem;
    --notification-padding: calc(
        1.5rem + 
        (2 * var(--notification-controls-offset))
    );
    --notification-border-width: .1rem;
    --notification-border-style: solid;
    --notification-margin-block: calc(
        3rem +
        (2 * var(--notification-controls-offset))
    );
    --notification-margin-inline: 1rem;

    --header-size-X: calc(
        var(--header-padding) +
        var(--nav-border-size) +
        var(--nav-padding)
    );

    --header-size-Y: calc(
        (2 * var(--header-padding)) + 
        (2 * var(--nav-padding)) + 
        var(--nav-logo-font-size) + 
        var(--nav-border-size)
    );

    --notification-size-X: calc(
        var(--notification-margin-inline) +
        var(--notification-border-width) +
        var(--notification-padding)
    );
    
    --notification-size-Y: calc(
        var(--notification-margin-block) +
        (2 * var(--nav-padding)) + 
        (2 * var(--notification-border-width)) + 
        var(--notification-font-size)
    );
}

header {
    padding: var(--header-padding);
}

.user-preferences {
    display: flex;
    /* justify-content: flex-end; */
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    padding-inline: 1rem;
    padding-block-end: 2rem;
}

nav {
    border-bottom: var(--nav-border-size) var(--nav-border-style) var(--nav-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: var(--nav-logo-font-size);
    color: inherit;
    padding: var(--nav-padding);
}

nav ul {
    display: flex;
    justify-content: flex-start;
    gap: calc(var(--nav-padding) * 2);

    padding: var(--nav-padding);
}

nav a {
    font-size: var(--nav-font-size);
    text-decoration: none;
    color: inherit;
}

.notification {
    --notification-background-opacity: .2;
    --notification-offset-top: calc(
        var(--header-size-Y) - 
        var(--notification-margin-block)
    );

    --notification-offset-right: calc(
        var(--header-size-X) +
        var(--notification-size-X) - 
        (4 * var(--notification-margin-inline))
    );

    position: fixed;

    right: calc(
        var(--notification-offset-right) * 1
    );

    font-size: var(--notification-font-size);

    padding: var(--notification-padding);
    border-width: var(--notification-border-width);
    border-style: var(--notification-border-style);
}

.notification:hover {
    --notification-background-opacity: .4;
    cursor: pointer;
}

.notification.error {
    --notification-error-color: rgb(255, 0, 0);
    --notification-error-background-color: rgba(255, 0, 0, var(--notification-background-opacity));

    border-color: var(--notification-error-color);
    background-color: var(--notification-error-background-color);
    color: var(--notification-error-color);
}

.notification.success {
    --notification-success-color: rgb(0, 128, 0);
    --notification-success-background-color: rgba(0, 128, 0, var(--notification-background-opacity));

    border-color: var(--notification-success-color);
    background-color: var(--notification-success-background-color);
    color: var(--notification-success-color);
}

.notification__controls {
    position: absolute;
    top: var(--notification-controls-offset);
    right: var(--notification-controls-offset);

    display: flex;
    gap: 1rem;

    font-size: calc(
        var(--notification-font-size) * .9
    );
}