:root {
    --background-color: #dee4e7;
    --text-color: #222;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/*
.app_theme--light {
    --background-color: #dee4e7;
    --text-color: #222;
}
*/

.app_theme--dark {
    --background-color: #222;
    --text-color: #eceff1;
}

a {
    color: #1a73e8;
    opacity: .75;
}

a:hover {
    opacity: 1;
}

/*
@media (prefers-color-scheme: dark) {
    body,
    body.app_theme--dark {
        --background-color: #222;
        --text-color: #eceff1;
    }
}

@media (prefers-color-scheme: light) {
    body,
    body.app_theme--light {
        --background-color: #dee4e7;
        --text-color: #222;
    }
} 
*/