<section class="sidebar register" [class.darkmode]="isDarkModeOn$ | async">
    <p class="sidebar__body">
        If you are already registered, proceed with logging in to your account.
    </p>
    <a routerLink="/users/login" class="sidebar__button">Sign In</a>
</section>

<form class="form register" #registerForm="ngForm" [class.darkmode]="isDarkModeOn$ | async" (ngSubmit)="registerSubmitHandler(registerForm)">

    <section class="form__header">
        <h3 class="form__title">Create account</h3>
    </section>

    <div class="form__row">
        <label for="username">
            <span class="form__label">
                <i class="fa-solid fa-user"></i>
            </span>
        </label>
        <input type="text" name="username" id="username" placeholder="Name" required minlength="4" pattern="(?=[A-Za-z]+)^[A-Za-z0-9]+$" #username="ngModel" appMaxlength="30" ngModel>

        <ng-container *ngIf="showErrorMessage(username)">

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="username.errors && username.errors['required']">
                Username is required.
            </app-validation-message>

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="username.errors && username.errors['minlength']">
                Username should be at least 4 characters long.
            </app-validation-message>

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="username.errors && username.errors['maxlength']">
                Username should not be more than 30 characters long.
            </app-validation-message>

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="username.errors && username.errors['pattern']">
                Username should consist of english letters and digits only (but not solely digits!).
            </app-validation-message>

        </ng-container>
    </div>

    <div class="form__row">
        <label for="email">
            <span class="form__label">
                <i class="fa-solid fa-envelope"></i>
            </span>
        </label>
        <input type="email" name="email" id="email" placeholder="Email" required appValidateEmail #email="ngModel" ngModel>

        <ng-container *ngIf="showErrorMessage(email)">

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="email.errors && email.errors['required']">
                Email is required.
            </app-validation-message>

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="email.errors && email.errors['email']">
                Provided email format is invalid.
            </app-validation-message>

        </ng-container>
    </div>

    <div class="form__row">
        <label for="imageUrl">
            <span class="form__label">
                <i class="fa-regular fa-image"></i>
            </span>
        </label>
        <input type="url" name="imageUrl" id="imageUrl" placeholder="Image URL" required appValidateUrl #image="ngModel" ngModel>

        <ng-container *ngIf="showErrorMessage(image)">

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="image.errors && image.errors['required']">
                Image URL is required.
            </app-validation-message>

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="image.errors && image.errors['url']">
               Provided URL format is invalid.
            </app-validation-message>

        </ng-container>
    </div>

    <div class="form__row">
        <label for="password">
            <span class="form__label">
                <i class="fa-solid fa-lock"></i>
            </span>
        </label>
        <input type="password" name="password" id="password" placeholder="Password" required minlength="6" #password="ngModel" ngModel>

        <ng-container *ngIf="showErrorMessage(password)">

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="password.errors && password.errors['required']">
                Password is required.
            </app-validation-message>

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="password.errors && password.errors['minlength']">
                Password should be at least 6 characters.
            </app-validation-message>

        </ng-container>
    </div>

    <div class="form__row">
        <label for="repeatPassword">
            <span class="form__label">
                <i class="fa-solid fa-lock"></i>
            </span>
        </label>
        <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat password" required appPasswordMatch [passwordControl]="password" #repeatPassword="ngModel" ngModel>
    
        <ng-container *ngIf="showErrorMessage(repeatPassword)">

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="repeatPassword.errors && repeatPassword.errors['required']">
                Repeat password is required.
            </app-validation-message>

            <app-validation-message [darkmode]="isDarkModeOn$ | async" *ngIf="repeatPassword.errors && repeatPassword.errors['passwordMismatch']">
                Both passwords should match.
            </app-validation-message>

        </ng-container>
    </div>

    <button type="submit" class="form__button" [disabled]="registerForm.invalid" [attr.title]="registerForm.valid ? 'Submit form' : 'Please fill in all required fields.'">
        <i class="fa-solid fa-user"></i>
        Sign Up
    </button>

</form>